# ----------------------
# Flask
# ----------------------
flask
flask-restful
flask-jwt

# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
mongoengine


# ----------------------
# Other
# ----------------------
responses==0.3
requests>=2.6.0